@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }

    .item{
        max-width: 20%;
    }
}

@media screen and (max-width: 992px) {
    .container{
        max-width: 996px;
    }

    .item{
        max-width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }

    .item{
        max-width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }

    .item{
        max-width: 20%;
    }

}